---
layout: page
---
<link rel="stylesheet" href="/js/prettify/prettify.css" />
<div class="entry">

    <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
    <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>

    {{ content }}
</div><!-- .entry -->
<div id="disqus_container"> 
    <a href="#" class="right comment" onclick="return false;">点击查看评论</a>
    <div class="shareto_toolbox">
	<p>
	<a class="shareto_button_tsina"></a>
	<a class="shareto_button_kaixin001"></a>
	<a class="shareto_button_renren"></a>
	<a class="shareto_button_douban"></a>
	<span class="shareto_separator">|</span>
	<a href="http://shareto.com.cn/share.html" class="shareto_button_compact">更多</a>
	</p>
	</div>
	<script type="text/javascript" src="http://s.shareto.com.cn/js/shareto_button.js" charset="utf-8"></script>
	<!-- ShareTo Button END -->
	<br> 
	<br>	
	<div id="disqus_thread"></div>
</div> 

<script src="/js/post.js" type="text/javascript"></script>
<script type="text/javascript">
    $.getScript('/js/prettify/prettify.js',function(){prettyPrint()});
    //$.getScript('http://v2.jiathis.com/code/jia.js',function(){})
</script>
